@import "mixins";

.header {
	grid-area: header;
	@include color-fondo(#0a65f7);
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
		.h1__logo {
		display: inline-block;
		font-size: 48px;
		}
		.h1__logo a {
		color: #000;
		text-decoration: none;
		}
		.nav__input, .nav__label {
			display: none;
		}
		.nav__ul {
		display: inline-block;
		}
		.nav__li {
		@extend .nav__ul;
		position:relative;
		font-size: 22px;
		padding: 15px;
		--clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
		}
		.nav__li:after {
		content: "";
		display: block;
		background: #ccc;
		width: 90%;
		height: 3px;
		margin-top: 3px;
		clip-path: var(--clippy);
		transition: clip-path 1s;
		}
		.nav__li:hover {
		--clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		.nav__li:hover > a {
		color: #bbb;
		}
		.nav__li a {
		color: #000;
		text-decoration: none;
		transition: all 1s;
		}
		@include media-down-m() {
			.nav {
				display: none;
			}
			.nav__label {
				display: block;
				cursor: pointer;
			}
			.nav__input:checked + .nav {
				display: block;
			}
		}
}