* {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
/* -----------------scroll personalizado----------------- */

body::-webkit-scrollbar {
	background-color: #f8f9fa;
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background-color: #06409c;
	border-radius: 5px;
}

/* -----------------header----------------- */

@import "header";
@import "mixins";

/*-----------------main index-----------------*/

@import "inicio";

/*-----------------main productos-----------------*/

@import "productos";

.productos__div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

.productos {
	border: solid 2px;
	margin-bottom: 8px;
	background-color: #f8f9fa;
}

.productos__img {
	display: inline-block;
	position: relative;
	width: 130px;
}

.productos__ul {
	display: inline-block;
	list-style-type: none;
}

.productos__ul--li {
	position: relative;
	bottom: 10px;
	padding-bottom: 8px;
	font-size: 16px;
}

.productos__ul--li a{
	color: #000;
	text-decoration: none;
}

.tachado-desc {
	text-decoration: line-through;
}

.button--add {
	background-color: #0a65f7;
	border: solid 1px;
	padding: 4px;
	box-shadow: 0 3px 1px -2px, 0 2px 2px 0;
	transition: all 1s;
}

.button--add:hover {
	color: #ccc;
	background-color: #06409c;
}

/*-----------------main descuentos-----------------*/

@import "descuentos";

/*-----------------main carrito-----------------*/

@import "carrito";

/*-----------------main contacto-----------------*/

@import "contacto";

/*-----------------footer-----------------*/

@import "footer";

/*-----------------animaciones-----------------*/

/*-----------------responsive desing - media quary - mobile last-----------------*/
/*-----------------tamaño mediano-----------------*/

@include media-down() {
	.nav__input, .nav__label {
		display: block;
	}

	.nav__li {
		padding: 5px;
	}

	.iframe-descuentos {
		height: 480px;
	}

	.titulo-productos {
		display: none;
	}

	.productos__ul--li {
		bottom: 0;
	}

	.productos__img {
		width: 130px;
	}

	.portada-productos__img {
		height: 130px;
	}

	.portada-descuentos__img {
		height: 130px;
	}

	.titulo-descuentos {
		display: none;
	}
}

/*-----------------tamaño medio-chico-----------------*/

@include media-down-m() {
	.productos__img {
		width: 100px;
	}
	.portada-productos__img {
		display: none;
	}
	.portada-descuentos__img {
		display: none;
	}
}

/*-----------------tamaño chico-----------------*/

@include media-down-sm {
	.header{
		flex-direction: column;
	}

	.portada {
		display: none;
	}

	.productos__img {
		width: 80px;
	}

	.portada-productos__img {
		display: none;
	}

	.titulo-productos {
		display: none;
	}

	.portada-descuentos__img {
		display: none;
	}

	.titulo-descuentos {
		display: none;
	}

	.productos__ul--li {
		bottom: 0;
	}

	.i-descuentos {
		margin-top: 10px;
	}

	.novedades {
		margin-top: 10px;
	}

	.redes__p {
		margin-top: 5px;
	}
}